.b-chatMessage {
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: rgb(41, 84, 131);
    justify-items: start;
    align-items: flex-start;
    align-self: flex-start;
    text-align: start;
    max-width: 60%;
    gap: 10px;
    border-radius: 5px;

    &__author {
        font-size: 26px;
        font-weight: bold;
        color: black;
    }

    &__message {
        font-size: 14px;
        color: white;
        white-space: pre-wrap;
    }

    &_otherAuthor {
        background-color: rgb(32, 110, 193);
        justify-items: end;
        align-items: flex-end;
        align-self: flex-end;
        text-align: end;
    }
}